<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

</head>
<header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="{{url_for('rout')}}" class="navbar-brand d-flex align-items-center">
        <strong>Penciling</strong>
      </a>


      {% if current_user.is_authenticated %}

        <a href="{{url_for('card')}}" class="btn btn-secondary my-2">Профиль</a>
        <a href="{{url_for('logout')}}" class="btn btn-secondary my-2">Выход</a>
      {% else  %}
        <a href="{{url_for('login_page')}}" class="btn btn-secondary my-2">Вход</a>
      {% endif %}
    </div>
  </div>
</header>
<body class="text-center">
<div >
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <p class="alert alert-primary">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            </p>
        {% endif %}
    {% endwith %}
            </div>

<main class="form-signin w-100 m-auto">
  <form method="post">
    <h1 class="h3 mb-3 fw-normal">Пожалуйста войдите</h1>
  <section class="py-5 text-center container">
    <div class="form-floating">
      <input type="text" name="login" class="form-control"  placeholder="Логин">

    </div>
      <br>
    <div class="form-floating">
      <input type="password" class="form-control" name="password"  placeholder="Пароль">

    </div>

    <br>
    <input name='submit' class="btn btn-primary btn-lg active" type="submit" value="Войти"/>
    &nbsp;
    <a href="{{url_for('register')}}" class="btn btn-primary btn-lg active">Register</a>

    <p class="mt-5 mb-3 text-muted">© 2022</p>

    </section>
  </form>
</main>


<script>
		var returnedSuggestion = ''
		let editor, doc, cursor, line, pos
		document.addEventListener("keydown", (event) => {
		setTimeout(()=>{
			editor = event.target.closest('.CodeMirror');
			if (editor){
				doc = editor.CodeMirror.getDoc()
				cursor = doc.getCursor()
				line = doc.getLine(cursor.line)
				pos = {line: cursor.line, ch: line.length}
				if (event.key == "Enter"){
					var query = doc.getRange({ line: Math.max(0,cursor.line-10), ch: 0 }, { line: cursor.line, ch: 0 })
					window.postMessage({source: 'getSuggestion', payload: { data: query } } )
					//displayGrey(query)
				}
				else if (event.key == "ArrowRight"){
					acceptTab(returnedSuggestion)
				}
			}
		}, 0)
		})

		function acceptTab(text){
		if (suggestionDisplayed){
			doc.replaceRange(text, pos)
			suggestionDisplayed = false
		}
		}
		function displayGrey(text){
		var element = document.createElement('span')
		element.innerText = text
		element.style = 'color:grey'
		var lineIndex = pos.line;
		editor.getElementsByClassName('CodeMirror-line')[lineIndex].appendChild(element)
		suggestionDisplayed = true
		}
		window.addEventListener('message', (event)=>{
		if (event.source !== window ) return
		if (event.data.source == 'return'){
			returnedSuggestion = event.data.payload.data
			displayGrey(event.data.payload.data)
		}
		})
	</script>
</body>
</html>